[2018-01-30 18:17] eazuka opened #2 "installation and setup instruction"
Hi, i am interested in testing this project out. are there instructions somewhere?
does this just work or it has dependencies?

it will be nice and helpful if you can write-up a short installation and setup instructions.

[2018-01-31 03:24] VISWESWARAN1998 commented on #2
All you need is Python3 and selenium module installed along with your Python3 you can able to use this once it is done

[2018-01-31 03:25] VISWESWARAN1998 commented on #2
@eazuka All you need is Python3 and selenium module installed along with your Python3 you can able to use this once it is done

[2018-01-31 09:09] CNajm commented on #2
@eazuka
I was unable to run this successfully due to outdated xpaths but I have forked this project and improved and fixed it.

I made the decision to split it from the fork since I saw myself steering the project in a different direction with mine majorly focusing on providing an efficient framework for bots and automated presence. You can find a full guide to running it there.

If you're interes

[2018-02-22 04:26] VISWESWARAN1998 commented on #2
@CNajm can you send me a pull request with a fix of new xpaths?

[2018-02-24 10:43] VISWESWARAN1998 commented on #2
@CNajm Issues addressed.

[2018-02-24 10:43] #2 closed

[2018-03-17 05:29] deadrop opened #3 "get profile picture"
Hi guy, can you implement a method to save the profile picture from a number? Like this https://github.com/LoranKloeze/WhatsAllApp

Thanks!

[2018-03-17 14:41] VISWESWARAN1998 commented on #3
Will add that functionality asap

[2018-03-17 14:43] VISWESWARAN1998 commented on #3
Will add that asap

[2018-03-19 20:06] deadrop commented on #3
@VISWESWARAN1998 thanks for the implementation, it works great, but your automation get only frequently contacted numbers. Please, read more about this opportunity https://www.freelancer.com/projects/php/get-profile-pic-from-whatsapp/

[2018-04-11 15:13] gccallie opened #5 "Find input bar by ID not working"
I tried to use your API but the input bar in WhatsApp web can't be accessed via `browser.get_element_by_id` since the id is not available (at least not anymore). Therefore I updated it with `browser.get_element_by_xpath` followed by the input search bar XPATH.

example (line 42):
`WebDriverWait(self.browser,wait).until(EC.presence_of_element_located(
            (By.XPATH, '//*[@id="side"]/div[2]/

[2018-04-14 02:59] VISWESWARAN1998 commented on #5
@gccallie
Could you send a Pull Request please! Thanks

[2018-05-13 12:02] karopass opened #8 "Online/Offline Number"
Hi!
Can we get online offline of contact/number using this script?
Thanks

[2018-05-13 12:44] VISWESWARAN1998 commented on #8
Yes you can,

[code]

[2018-05-13 12:45] VISWESWARAN1998 commented on #8
@karopass get_last_seen method is what you were looking for

[2018-05-13 12:55] karopass commented on #8
@VISWESWARAN1998
Thanks for quick response! I think last seen only for who have enabled last seen. We can get information of people who have disabled last seen?
Thanks a lot for great work!

[2018-05-13 13:13] karopass opened #9 "Installation information missing"
Hi!
I am really sorry but beginner like me can have issues in installation. I do not understood Which operating system its require to run as well How can I run this python script. I request @VISWESWARAN1998  to please add some information regarding this in wiki.
Thanks a lot :+1:

[2018-05-13 13:35] VISWESWARAN1998 commented on #9
@karopass Added it for you

[2018-05-13 13:37] karopass commented on #9
@VISWESWARAN1998
Thanks a lot for Quick support.

[2018-05-13 13:57] karopass opened #10 "Error in run"
Hi!
I have successfully installed all required module and trying to run but getting error like below

[code]

Let me know if anything I am missing in this.
Thanks

[2018-05-14 15:32] VISWESWARAN1998 commented on #10
You should consider increasing the timeout

[2018-05-14 15:55] #9 closed

[2018-05-19 17:10] #10 closed

[2018-05-22 12:40] Pechi77 opened #11 "how to send picture"
is there a way to send pictures/media

[2018-05-22 15:31] Pechi77 opened #12 "question"
how to send messages to whatsapp numbers other than my contacts

[2018-05-23 08:30] VISWESWARAN1998 commented on #12
You cannot send it. But you can add the numbers to your whatsapp and could send it.

[2018-05-23 08:31] VISWESWARAN1998 commented on #11
It is been a long time, there is a send_picture method which will do the job

[2018-05-23 09:57] Pechi77 commented on #12
can you add those numbers from this script?
I dont think we can..

[2018-05-23 10:29] VISWESWARAN1998 commented on #12
There are various way to add numbers to your contacts in bulk, that wont be a problem. This script is just an automation for whatsapp

[2018-05-23 10:30] #11 closed

[2018-05-24 18:11] #12 closed

[2018-07-24 15:13] vaibhavgeek commented on #10
@karopass Were you able to solve the issue by increasing the timout? I am also facing the same error.

[2018-08-30 18:10] VigneshSP94 commented on #8
@karopass

from whatsapp import WhatsApp

whatsapp = WhatsApp(10)
user = whatsapp.get_last_seen("Natpu")
if user == "online":
    print("User is online")
else:
    print("User is not")

This works? works for me.

[2018-09-02 03:08] #5 closed

[2018-10-12 17:15] wolkix3 opened #13 "XPATH Error"
Code I use:
`from whatsapp import WhatsApp
whatsapp = WhatsApp(10)
print(whatsapp.get_last_seen("Max"))`
I'm trying to get the last seen of somebody but I always get this error:

`Exception has occurred: selenium.common.exceptions.TimeoutException
Message:
  File "C:\Users\Thore\Desktop\WA Track\whatsapp.py", line 44, in __init__
    (By.XPATH, '//*[@id="side"]/div[2]/div/label/input')))
  File "C

[2018-10-12 17:35] VISWESWARAN1998 commented on #13
This works for me..

[code]

[2018-10-12 17:37] VISWESWARAN1998 commented on #13
@wolkix3

`whatsapp = WhatsApp(10)`

I see the above line in your code, so the application will wait only for 10 seconds. i.e you can only 10 seconds to scan your qr code. So why you get timeout exception.

This will wait for 1000 seconds, may be you could try it.

`app = WhatsApp(1000)`

[2018-10-12 17:43] wolkix3 commented on #13
I do in the time scan the qr code and get logged into WhatsApp Web, but I still do get the same error as soon the time runs out.

[2018-10-13 11:06] VISWESWARAN1998 commented on #13
@wolkix3 Have you changed the value to greater than 1000 and tried?

[2018-10-13 16:54] wolkix3 commented on #13
Okay setting it to 2000 helped somehow, thank you

[2018-10-13 16:54] #13 closed

[2018-10-14 05:25] wolkix3 opened #14 "Timeout error when trying getting the last seen of a invisible."
I'm trying to get the last seen from somebody that has their settings like set so only it is seen when they are online but not their last seen. But if they are online I'm getting the Error `TimeoutError: Your request has been timed out! Try overriding timeout!`. And now I'm asking how do I override this error and just basically wait till they come online and then get their last seen status aka the

[2018-10-14 05:37] wolkix3 commented on #14
I know that it outputs if it doesn't find any as None, but now I'm getting the TimeoutError

[2018-10-14 05:38] VISWESWARAN1998 commented on #14
Loop untill they come online on a separate thread???

[2018-10-14 05:55] VISWESWARAN1998 commented on #14
So in that case, the whats-app will display online only when they come online, so you could use a loop like this to see whether they came online or not. Example program below

[code]

**OUTPUT:**
[code]

Even if you put it in a separate thread that will affect other process like creating groups, sending messages etc., In that case you need to use Locks to make sure everything is synchronized.

Tha

[2018-10-14 06:14] wolkix3 commented on #14
I already got it to work when they are like they show the last seen, but when it is hidden, even with your code I do get online one `None` output and then an error that TimeoutException is not defined. And if I add `class TimeoutException(Exception): pass` at the start to pass it, I do then get the `TimeoutError: Your request has been timed out! Try overriding timeout!` again.

[2018-10-14 06:37] wolkix3 commented on #14
Okay, thank you a lot this fixes the error. Now I got one last question, it only gives out one time the `None` and then again, Now I'm asking if the Person is gonna go online, will it then output the new online status then or is it just never gonna check it again?

[2018-10-14 07:54] VISWESWARAN1998 commented on #14
@wolkix3
It is an API, you can make it to check online status of a person on a regular interval using some looping mechanism.

[2018-10-14 07:54] VISWESWARAN1998 commented on #14
Like this: https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/14#issuecomment-429598975

[2018-10-14 11:40] wolkix3 commented on #14
My question was only because it only outputs the None once if it even still checks it. But now I checked it and it is working as intended. I really need to thank you so much for all your help!

[2018-10-14 11:40] #14 closed

[2018-10-27 03:14] karthiksrinivaasanad opened #15 "requirements.txt"
A requirements.txt would really help to install this API

[2018-10-27 03:15] VISWESWARAN1998 commented on #15
Head over to wiki, you will find how to install

[2018-10-27 03:15] VISWESWARAN1998 commented on #15
However I will soon add it

[2018-10-30 11:57] VISWESWARAN1998 commented on #15
Done!

[2018-10-30 11:58] #15 closed

[2018-11-09 23:10] oslnx opened #16 "this is a crap"
following your "tutorial"

exp@ownage:~/w$ ./chromedriver --help
Usage: ./chromedriver [OPTIONS]

Options
  --port=PORT                     port to listen on
  --adb-port=PORT                 adb server port
  --log-path=FILE                 write server log to file instead of stderr, increases log level to INFO
  --log-level=LEVEL               set log level: ALL, DEBUG, INFO, WARNING, SEVERE, OF

[2018-11-13 21:10] MareinK opened #17 "Read messages"
I'd like to read messages by others (in a group chat) and respond depending on the message. This doesn't seem possible at present. It would be great if it would be possible to read messages from chats!

[2018-11-14 15:32] VISWESWARAN1998 commented on #17
Did you mean you want to read the last message from other is a group chat?

Or if you want to check if a message is present in a group, there is already a function in the latest commit.

[code]

Could you brief your purpose, if it seems to be useful for other community members too, I will try my level best to add it.

Thank you and Regards,
Visweswaran Nagasivam

[2018-11-15 12:59] MareinK commented on #17
Thanks for your response. I didn't know about the functionality you show. However I don't think it quite fits my use case. What I'm thinking of is more along these lines:

[code]

Of course the actual use case would be something more complicated than just echoing the person's message back to them. But the point is, to listen for new messages, and to be able to execute a function for each new messa

[2019-03-09 04:37] frozenade opened #18 "WA web got hanged up"
It runs and just shows 'data:;' at Chrome's addressbar.

Please help

[2019-03-09 04:41] VISWESWARAN1998 commented on #18
@frozenade
Try updating your chrome browser and please do use the latest chrome-driver.

If you still face the issue please let me know.

[2019-03-09 04:53] frozenade commented on #18
my both Chrome and Selenium driver are the latest version.

[2019-03-09 05:39] VISWESWARAN1998 commented on #18
@frozenade could you please send me the code which you are using.

[2019-03-12 00:49] frozenade commented on #18
I just run your code. I didn't modify the code at all.

[2019-03-12 09:50] VISWESWARAN1998 commented on #18
@frozenade I seriously believe you are directly running whatsapp.py something like this,

[code]

You should create a new file and get the object of WhatsApp class so that you can actually utilize the API.

For example, Let us create a file named group.py in the same directory where whatsapp.py and chromedriver is located with the following code,

[code]

Then run,
`
python group.py
`

[2019-03-13 00:58] frozenade commented on #18
Ah yes. Finally it's works. But another message error comes:
[code]

[2019-03-13 02:36] VISWESWARAN1998 commented on #18
The only thing which you have do manually is to scan the QR code

10 in the constructor specifies that the API will wait for 10 seconds to scan for the code.

[code]

Specify something like 1000 to prevent this exception like this,

[code]

So finally, test the whole code:

[code]

[2019-03-13 03:09] frozenade commented on #18
Thanks but I still got error message:
[code]
Is it normal?

[2019-03-25 10:50] LevisKimathi opened #19 "How to send image?"
Hi I'm trying to send image with this code. I'm new to python where I'm I going wrong. It opens chrome browser and asks for qr code confirmation. After confirmation It searches for the Name and opens a chat then it stops there.

from whatsapp import WhatsApp
whatsapp = WhatsApp(20)
whatsapp.send_picture("Name","C:/Users/Levis/Desktop/Images/python.png","Image send test")

[2019-04-17 02:30] VISWESWARAN1998 commented on #19
Sorry for the late reply,

Have fixed several things and here is how to send the message:

[code]

Please make sure you have current updated code!

Thank you,
Visweswaran N

[2019-04-17 04:54] LevisKimathi commented on #19
Awesome.Thank you for getting back to me.

On Wed, Apr 17, 2019, 5:30 AM VISWESWARAN1998 <notifications@github.com>
wrote:

[2019-04-19 01:47] VISWESWARAN1998 commented on #19
Welcome! If you are facing any problems feel free to open new issue.

[2019-04-19 01:47] #19 closed

[2019-05-10 17:02] LevisKimathi opened #20 "How to add caption to an image?"
I can send an image. I wanted to know how to add a caption?

[2019-05-11 01:43] VISWESWARAN1998 commented on #20
I have just added caption support. Please use the latest whatsapp.py

Here is how you send the caption,

[code]

Thank you!

[2019-05-13 11:14] VISWESWARAN1998 commented on #20
@LevisKimathi  Do you still face this issue? If not kindly consider closing the issue.

Thank you!
Regards,
Visweswaran N

[2019-05-13 12:13] LevisKimathi commented on #20
Thanks you it's working

[2019-05-13 12:13] #20 closed

[2019-05-21 16:44] nadif15 opened #21 "error"
Traceback (most recent call last):
  File "test.py", line 2, in <module>
    from whatsapp import WhatsApp
  File "/root/Downloads/Simple-Yet-Hackable-WhatsApp-api-master/whatsapp.py", line 25, in <module>
    from urllib.parse import urlencode
ImportError: No module named parse

[2019-05-21 16:48] #21 closed

[2019-05-21 16:49] nadif15 commented on #21
sory idk if use python3

[2019-05-21 16:50] nadif15 opened #22 "problem"
Traceback (most recent call last):
  File "test.py", line 1, in <module>
    from whatsapp import WhatsApp
  File "/root/Downloads/Simple-Yet-Hackable-WhatsApp-api-master/whatsapp.py", line 36, in <module>
    class WhatsApp:
  File "/root/Downloads/Simple-Yet-Hackable-WhatsApp-api-master/whatsapp.py", line 41, in WhatsApp
    browser = webdriver.Chrome()  # we are using chrome as our webbrowser

[2019-05-21 16:58] VISWESWARAN1998 commented on #22
Are you sure the chrome is in correct path?
Please make sure that Google chrome has been installed in correct path.

Create a new test python file and try running this code:

[code]

If the above code runs without any errors, please do contact me. It seems more like a problem in selenium and chrome configuration rather than this API.

Thank you!
Visweswaran N

[2019-05-22 23:55] nadif15 commented on #22
still error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/selenium/webdriver/chrome/webdriver.py", line 81, in __init__
    desired_capabilities=desired_capabilities)
  File "/usr/local/lib/python3.6/dist-packages/selenium/webdriver/remote/webdriver.py", line 157, in __init__
    self.start_session(capabilities, browser_pro

[2019-05-23 00:04] nadif15 commented on #22
ok is fixed another problem appear

Traceback (most recent call last):
  File "test.py", line 2, in <module>
    whatsapp = WhatsApp(10)
  File "/home/testonly/Downloads/Simple-Yet-Hackable-WhatsApp-api-master/whatsapp.py", line 51, in __init__
    (By.CSS_SELECTOR, '.jN-F5')))
  File "/usr/local/lib/python3.6/dist-packages/selenium/webdriver/support/wait.py", line 80, in until
    raise TimeoutEx

[2019-05-23 00:04] nadif15 commented on #22
oh i got it time limit ok ty

[2019-05-23 00:07] nadif15 commented on #22
ok is time limit but, is still not work just buff in chrome

[2019-05-23 02:48] VISWESWARAN1998 commented on #22
Can you paste the code which throws the error here. Thank you!

[2019-05-23 02:51] nadif15 commented on #22
no code just in web buff non stop

[2019-05-23 02:51] nadif15 commented on #22
site cant be reach

[2019-05-23 02:51] VISWESWARAN1998 commented on #22
You should have used my API code right? send the code!

[2019-05-23 02:54] nadif15 commented on #22
from whatsapp import WhatsApp
whatsapp = WhatsApp(100)
print(whatsapp.send_message("Mori","thx!"))

[2019-05-23 02:56] VISWESWARAN1998 commented on #22
I think everything works. This is just an automation script. **QR code needs to scanned manually!**

Thank you!
Visweswaran N

[2019-05-23 03:09] nadif15 commented on #22
all fine until i run your code maybe i got ban :(

[2019-05-23 03:25] VISWESWARAN1998 commented on #22
You cannot be banned for an automation script which sends one single message.

[2019-05-23 08:37] #22 closed

[2019-05-23 13:43] nadif15 opened #23 "error"
File "t.py", line 1, in <module>
    from whatsapp import WhatsApp
  File "D:\download\Simple-Yet-Hackable-WhatsApp-api-master\Simple-Yet-Hackable-WhatsApp-api-master\whatsapp.py", line 36, in <module>
    class WhatsApp:
  File "D:\download\Simple-Yet-Hackable-WhatsApp-api-master\Simple-Yet-Hackable-WhatsApp-api-master\whatsapp.py", line 41, in WhatsApp
    browser = webdriver.Chrome()  # we are

[2019-05-23 13:44] nadif15 commented on #23
im use this https://chromedriver.storage.googleapis.com/75.0.3770.8/chromedriver_win32.zip

[2019-05-23 13:55] nadif15 commented on #23
ok all work thx

[2019-05-23 13:55] nadif15 commented on #23
can you help me fix the buffering

[2019-05-23 14:05] nadif15 opened #24 "how to make this to selfbot"
when i send message how to make the bot know?

if not avaible pls make this features thx you

[2019-06-01 07:38] nadif15 opened #25 "stuck after login"
i try this script on linux mint after chrome appear and login bot dont run the code

[2019-06-01 07:38] nadif15 commented on #25
no error showing in terminal

[2019-06-05 16:13] VISWESWARAN1998 commented on #25
could you explain a bit more with some code examples?

[2019-06-10 16:10] #25 closed

[2019-07-03 17:10] axyello opened #26 "Error "init (By.CSS_SELECTOR, '.jN-F5')))""
Hi,
I executed the program, it is the error message obtained.
The browser gets good web.whatsapp and the error is coming up.

C:\Python37\python.exe C:/Wp/Simple/main.py
Traceback (most recent call last):
  File "C:/Wp/Simple/main.py", line 6, in <module>
    app = WhatsApp(10)
  File "C:\Wp\Simple\whatsapp.py", line 51, in __init__
    (By.CSS_SELECTOR, '.jN-F5')))
  File "C:\Python37\lib\site-pa

[2019-07-04 12:17] VISWESWARAN1998 commented on #26
Good Morning,
    Thank you for raising this issue. It seems that the CSS selectors have been changed. I have fixed the CSS selectors. Download the latest whatsapp.py.

I have tested with some commonly used methods and it seems to be working.

[code]

[2019-07-05 08:31] #26 closed

[2019-07-25 09:12] rajasekar-addobyte opened #27 "Need an option to clear messages in group"
First thanks for the code.

I am looking for an option to clear messages in my groups. Can you help me on this?

[2019-07-31 15:22] VISWESWARAN1998 commented on #27
First of all apologies for the late reply. I have added this feature, Kindly pull the repository or re-download the latest whatsapp.py

*Usage:*

[code]

Thank you and regards,
Visweswaran N

[2019-07-31 15:23] VISWESWARAN1998 commented on #27
@rajasekar-addobyte Kindly close the issue if it has solved your problem.

[2019-08-01 05:08] rajasekar-addobyte commented on #27
Thanks for the update. It works. i used it to clear multiple groups

[code]

[2019-08-01 05:08] #27 closed

[2019-08-06 05:05] ankursinghagra opened #28 "In Case Number is not a Vaild Whatsapp User"
Your Script runs great .
I am having a bit of a issue while sending bulk messages, if the phone number is not a valid whatsapp user, and i am executing send_anon_message() , it breaks. I was hoping it skips that number and move onto the next line.

[2019-08-06 10:27] suryabtps commented on #28
Try:
    Function
Except:
    Pass

[2019-08-06 11:24] ankursinghagra commented on #28
why didn't i thought of that. Thanks, this works.

[2019-08-06 11:24] #28 closed

[2019-08-06 11:56] suryabtps commented on #28
It happens because of monotonous work. Take a break. :)

Warm Regards,
Surya K. S.

[2019-08-06 13:36] VISWESWARAN1998 commented on #28
@ankursinghagra

Please note that, WhatsApp will ban your which sends messages to others(who didn't store your phone number)

The limit is 100 I believe.

[2019-08-15 12:11] ankursinghagra commented on #28
@VISWESWARAN1998

Too late . I already go banned.

[2019-08-15 12:16] VISWESWARAN1998 commented on #28
@ankursinghagra I am sorry to hear that it has nothing to do with API, whats-app bans numbers which sends messages to numbers which are not in the contact list(receiver). I informed you in the same day.
I do apologize.

[2019-08-15 12:17] ankursinghagra commented on #28
@VISWESWARAN1998
Dont worry. I know its not your api 's fault. Your scripts work well. I was already aware that whatsapp might take actions against spamming, so i used a disposable phone number. ;)

[2019-10-08 05:46] SagarMahadik opened #29 "Error while getting whatsapp status"
Hi,

First of all thank you for the api!

I am getting below error while looking for "Status" of contact.

Kindly look into this

C:\Users\Sagar\AppData\Local\Programs\Python\Python37\python.exe C:/Users/Sagar/Downloads/Simple-Yet-Hackable-WhatsApp-api-master/Simple-Yet-Hackable-WhatsApp-api-master/group.py
Traceback (most recent call last):
  File "C:\Users\Sagar\Downloads\Simple-Yet-Hackable-Wha

[2019-10-12 03:20] VISWESWARAN1998 commented on #29
Can you post your code for me to execute and fix this. Apologies for the late reply

[2019-10-28 08:51] OmarAttia opened #31 "Reading"
Any methods for reading conversations?

[2019-10-28 11:55] OmarAttia commented on #31
Even latest/unread messages would be great

[2019-10-29 08:00] judasane opened #32 "Sending to anon number not working"
Since whatsapp web takes the user to a window looking for the app installed, in order to send the message it is needed to click in the "go to whatsapp web" link and then press enter to send the message

[2019-10-29 09:25] VISWESWARAN1998 commented on #32
Whatsapp may ban your number if you send messages to numbers who doesn't have your number on their contact list.

I believe you might have a desktop application installed.

[2020-01-16 04:42] VISWESWARAN1998 commented on #17
You can achieve it with a few tweaks using the latest method.. See unread usernames

[2020-01-16 04:54] VISWESWARAN1998 commented on #31
See the latest commit

[2020-01-17 07:44] VISWESWARAN1998 opened #34 "Intresting use cases"

[2020-01-20 03:50] #31 closed

[2020-01-24 09:35] #17 closed

[2020-03-09 16:45] alexanghh opened #35 "Whatsapp search box element name change and behaviour change"
The code is no longer working due to recent Whatsapp changes:
- Element name changed from _2zCfw to _3u328
- Behaviour changed where search text box does not respond to enter to open up the chat. Need to click on the object of the first search result element "_2WP9Q" (first result element is always _2WP9Q)

[code]

[2020-03-09 16:47] VISWESWARAN1998 commented on #35
Thank you for your contribution, could you send a pull request?

[2020-03-21 06:37] VISWESWARAN1998 commented on #35
Bug has been fixed with credits on commit name.

Thank you,
Visweswaran N

[2020-03-21 06:37] #35 closed

[2020-03-30 00:31] alfian8787 opened #38 "Runner not found"
[](https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/38#issue-589921636url)

[2020-03-30 00:32] alfian8787 commented on #38
@VISWESWARAN1998 @VigneshSP94 @cristianlivella @cristianlivella

[2020-03-30 00:33] alfian8787 commented on #38
https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/38#issue-589921636 @alfian8787 @gccallie

[2020-03-30 01:19] VigneshSP94 commented on #38
@cristianlivella can you post some traceback or a description?

[2020-04-01 14:00] #38 closed

[2020-04-01 17:42] alfian8787 opened #39 "workflow doesnt appears"
@VISWESWARAN1998 @ImgBotApp @VigneshSP94 @VISWESWARAN1998 @VigneshSP94 [github.com](https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/new)

[2020-04-01 17:44] alfian8787 opened #40 "whatsapp"
[whatsapp status eror](https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/29#issue-503840307)

[2020-04-01 17:44] alfian8787 commented on #40
@gccallie @VigneshSP94 @ImgBotApp

[2020-04-01 17:47] alfian8787 commented on #40
[1-a.txt](https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/files/4416764/1-a.txt)

[2020-04-20 03:40] dwiirawan commented on #24
You can use unread_username() and then get message from user

[2020-05-03 20:26] Bkstuff opened #41 "Online checking for WhatsApp"

[2020-05-05 09:29] lordmurda opened #42 "Getting usernames with unread messages not work"
from whatsapp import WhatsApp
whatsapp = WhatsApp(100, session="mysession")
print(whatsapp.unread_usernames(scrolls=100))

Hello, when I tried to run this code, I've got just [ ]
Bot doesn't see persons which has unread messages.
Maybe problem in Chrome version?

[2020-05-05 13:00] VISWESWARAN1998 commented on #42
I have checked and found that the class names has been outdated which I have fixed in the latest commit please check and let me know.

If you think that the latest commit has addressed your issue kindly close the issue and feel free raise further issues and questions you have.

Thank you!
Visweswaran N

[2020-05-05 18:05] lordmurda commented on #42
Great, now it's working.
Thank you!

[2020-05-05 18:22] #42 closed

[2020-05-09 22:49] boinaweb opened #43 "error"
raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=81.0.4044.138)

[2020-05-10 08:16] VISWESWARAN1998 commented on #43
Could you show me the code which caused this error?

[2020-05-17 16:30] boinaweb commented on #43
try:
           WebDriverWait(self.browser, self.timeout).until(EC.presence_of_element_located((By.XPATH, "/html/body/div[1]/div/div/div[2]/div[3]/span/div/div/div[2]/div/div/div/div/div[1]/div/div/div/div[2]/div[1]/span/span/span")))
           return True
        except TimeoutException:
            return False

[2020-05-17 16:33] boinaweb commented on #43
All false error messages

[2020-05-17 17:08] boinaweb commented on #43
correct code:
/html/body/div[1]/div/div/div[2]/div[3]/span/div/div/div[2]/div/div/div/div[1]/div/div/div/div[2]/div[1]/span/span/span

found the error thanks was just one more div

[2020-06-05 05:56] tika123 opened #44 "Wa hack"

[2020-06-05 14:37] tanaka985 commented on #3
thank you for the api.

i am having trouble with the beginning of the code. Dont know if you can still help me.

thank you in advance

File "c:/Users/General/Downloads/Compressed/New folder/Simple-Yet-Hackable-WhatsApp-api-master/test.py", line 2, in <module>
    whatsapp = WhatsApp(100, session="mysession")
  File "c:\Users\General\Downloads\Compressed\New folder\Simple-Yet-Hackable-WhatsApp-api-

[2020-06-08 00:46] marvinbraga opened #45 "Forms de Cadastro - Não está apresentado mensagens de erro"
As mensagens de erro não estão sendo apresentadas.

[2020-06-08 00:48] marvinbraga commented on #45
Erro

[2020-06-08 00:48] #45 closed

[2020-06-25 20:53] tika123 opened #47 "Hack whatsapp"

[2020-06-28 20:38] ReihanHaekal commented on #32
For everyone who got this problem. Just install chrome driver matched with your chrome version

[2020-07-05 20:22] aahnik opened #48 "Wierd Problem! Sending Message to Previous Person when search of Current Person takes longer loading"
Imagine a situation, i have a list of 5 receipients.(the contacts are saved in phone )
[code]
the program sends correct message successfully to person 1,2 and 3.
## Now Searching person 4 (in whatsapp search bar) takes longer, the message to be sent to person 4 gets send to person 3.
then person 5 again recieves correct message

I think some changes must be made in the send_message method, after e

[2020-07-06 06:07] aahnik commented on #48
# Another Example where error will occur
[code]
## here Xyz is not in my contacts. Ideally message to Xyz should fail. But The message "hi Xyz..." gets send to Baba

[2020-07-06 07:08] aahnik commented on #48
#49 i have given a pull request which solves the above issue please check and merge it

Below is the  testing my new code:
[code]

# Output

[code]

# ISSUE SOLVED

[2020-07-06 07:14] VISWESWARAN1998 commented on #48
I sincerely thank you for your contribution, I am currently looking into this issue.

[2020-07-06 07:25] #48 closed

[2020-07-06 09:09] aahnik opened #52 "[enhancement]emojify is making the program slower"
# is emojify actually needed?
## the common emojis can be easily sent by typing text faces
### I commented out emojify and related lines then

# __this piece of code__
[code]

# produced this output
![emoji_demo](https://user-images.githubusercontent.com/66209958/86576307-2e3d7280-bf96-11ea-8238-4a13cd99046e.png)

[2020-07-06 09:10] aahnik commented on #52
# removing emojify makes program fast
# the time difference is considerable when sending 100s of messages

[2020-07-06 09:56] VISWESWARAN1998 commented on #52
Yes I too had a thought of removing it, which I will remove it in my next commit.

Thank you and Regards,
Visweswaran N

[2020-07-06 14:45] aahnik commented on #52
#53 i have removed emojify and updated some sections of readme
 also added many enhancements and new features
## please review and merge them

## thanks
Aahnik

[2020-07-06 18:25] aahnik opened #54 "[feature request] please consider these issues"
1. Adding delete chat feature.(not same as clear chat)

2. Feature to create whatsapp brodcast lists and delete them

3. Seperate the functionality into different modules.(maintaining the code is difficult as everything is in same file )

4. Xpath and css selector portions must be seperated from code and be hosted in a CDN .( Atleast kept in a seperate var.py file or a json file , so it's easy to

[2020-07-06 18:28] aahnik commented on #54
# I could solve most of the above mentioned issues.
I will start working on them after 19th July .
(I have some upcoming exams to prepare for)
## Meanwhile others improve this fantastic api

[2020-07-09 15:58] Abhayvishnoi opened #55 "How to send message in whatsapp group??"
How to send message in group??

[2020-07-09 16:18] VISWESWARAN1998 commented on #55
[code]

[2020-07-10 15:44] Abhayvishnoi commented on #55
so this uses selenium?? or will work on termux too?

[2020-07-10 15:53] VISWESWARAN1998 commented on #55
It uses selenium

[2020-07-11 04:05] #55 closed

[2020-07-11 04:05] #47 closed

[2020-07-11 04:05] #44 closed

[2020-07-11 09:44] bhavya32 commented on #54
Hey @aahnik I want to add a very important feature request.(for me it is important.) Documents can be big or small. If the document is too big, the selenium will close before the file is uploaded. If we increase the time, the next file may be small and it will waste time. We should together sort this issue. There must be some workaround to check if the message is sent.

[2020-07-11 09:52] bhavya32 opened #56 "[feature request] Check if a file is successfully sent"
@VISWESWARAN1998 I  want to add a very important feature request.(for me it is important.) Documents can be big or small. If the document is too big, the selenium will close before the file is uploaded. If we increase the time, the next file may be small and it will waste time. We should together sort this issue. There must be some workaround to check if the message is sent.

[2020-07-11 16:33] bhavya32 commented on #54
@aahnik please check issue #56 - I think you can help me out.

[2020-07-11 17:10] aahnik commented on #54
@bhavya32
I am currently busy with some work as I mentioned in my [previous comments](https://github.com/VISWESWARAN1998/Simple-Yet-Hackable-WhatsApp-api/issues/54#issuecomment-654396506)

I have not used that part of the code so it might take time further .

# I recommend you try sending documents in a different yet SIMPLE manner

- **Upload the documents to _Google Drive_**
- **Get a Link**
(Onl

[2020-07-11 17:14] aahnik commented on #56
# I recommend you try sending documents in a different yet SIMPLE manner

- **Upload the documents to _Google Drive_**
- **Get a Link**
(Only the people to  whom you will give the  link can view)
 **put the link in the message**

And it's done 😊

[2020-07-11 19:01] aahnik commented on #56
**WhatsApp is great for notifying and updating people**

To send documents the best way is to send emails 😊 with attachments.

# check out AutoMailer

##  [GitHub Link ](GitHub.com/aahnik/AutoMailer)

1. **Send dynamic emails with unlimited variables pulling data from a database(csv file)**

2. **Supports Markdown Formatting & embed links or images**

3. **Supports Attaching any kind of files**

[2020-07-12 03:59] bhavya32 commented on #56
@aahnik alternatives are not a solution for me. I am mostly requested by my customers to send PDF of invoices and ledgers. Some of them have not saved my number. Whatsapp flags it and they can not click on the link. In short, The link is clickable only if the other party has saved my number. For email, I do send mails but only 5% of them do have mail.

[2020-07-12 04:22] aahnik commented on #56
I understand your situation

I am working on it. I have figured out a solution.

Wait @bhavya32 , your problem will be solved

[2020-07-12 04:53] aahnik commented on #56
I have made changes solving #56 and #54 part 7 solved #48 in a modular approach for send_message, send_document,send_picture
# @bhavya32  i tried to solve your problem see my pull request #53 added new commits recently
## do a test run
you can see my version of whatsapp api which i forked from @VISWESWARAN1998 [here](https://github.com/aahnik/Simple-Yet-Hackable-WhatsApp-api)

[2020-07-12 04:57] aahnik commented on #54
I have made changes solving #56 and #54 part 7 solved #48 in a modular approach for send_message, send_document,send_picture
##  @bhavya32  i tried to solve your problem see my pull request #53 added new commits recently
### do a test run
# you can see my version of whatsapp api which i forked from @VISWESWARAN1998 [here](https://github.com/aahnik/Simple-Yet-Hackable-WhatsApp-api)

[2020-07-12 05:09] aahnik commented on #56
##  @bhavya32  i tried to solve

In pull  request #53 added new commits recently

_**Using webdriver to wait until presence of element located so timing is dynamic **_

[2020-07-12 05:33] VISWESWARAN1998 commented on #56
@aahnik @bhavya32

I have tested with the 50MB document and I cannot reproduce the issue with my existing implementation as I can able to send files without problem.

I would like to know more on this so that I can able to fix it.

Thanks and Regards,
Visweswaran N

[2020-07-12 05:39] aahnik commented on #56
@bhavya32  you said that selenium will close before sending file

Check your internet speed.
Try override timeout

@VISWESWARAN1998 your internet and system may be faster overall , so you did not face the issue #56 by @bhavya32 .
Even I did not face the issue.

But the issue may occur if file loads slowly in someone's setup.

So webdriver must wait until presence of element located.
Refer to my la

[2020-07-12 05:43] aahnik commented on #56
I never faced the issue #56 so I can't really check whether my new commits are actually solving it.

It works for me with both old and new code ...

[2020-07-12 05:55] aahnik commented on #56
Hi @bhavya32 ,

Even if your customers have not saved your number , you can send links ( I have tested )
Yes they can open links
Tips for not being flagged by whatsapp.

1.Save your customers phone numbers in your phone

( ☝️Feel free to Contact me for automation)

2.  Explicitly Tell your customers to save your number for smooth delivery of messages

3. Upload files to gdrive and share those link

[2020-07-12 06:01] aahnik commented on #56
Hi @bhavya32 , you can try using KhataBook App for accounting.

I don't know whether it's suitable for your setup or not.

But KhataBook can send free SMS and WhatsApp reminders and invoices

[2020-07-12 11:13] bhavya32 commented on #56
@VISWESWARAN1998 No no! I am not facing the issue directly. I forgot to mention that I kill the chromedriver as well as chrome after the message is sent. As soon as selenium returns, and the file is uploading, I have put a timer of say 5 seconds. It is essential as if I rerun the script without chromedriver, the second chrome instance does not work. @aahnik thanks for suggestions but I do not thin

[2020-07-12 13:02] aahnik commented on #56
# why do you kill chromedriver everytime..??

use the code correctly , u wont need to kill chromedriver

[code]

[2020-07-12 17:15] bhavya32 commented on #56
Thanks a lot @aahnik and @VISWESWARAN1998 for looking into my issue. I very well know each and every alternatives and do not need any. As for why I kill chrome-driver, I have implemented it as an API. For example - "127.0.0.1/default?phn=1234567890&message=ABC" would automatically open and send messages. Such an API can be integrated in most applications easily and I was using it to send automatic

[2020-07-12 17:15] #56 closed

[2020-07-13 04:53] bhavya32 commented on #43
@VISWESWARAN1998  why not close the issue?

[2020-07-13 17:09] VISWESWARAN1998 commented on #43
@bhavya32 Thank you for the remainder!

Regards,
Visweswaran N

[2020-07-13 17:09] #43 closed

[2020-07-17 02:46] #52 closed

[2020-07-17 02:51] #54 closed

[2020-08-19 04:11] aahnik opened #57 "peculiar case ... sending to wrong recipient when recipeints have similar name"
see this
![Screenshot from 2020-08-19 09-33-30](https://user-images.githubusercontent.com/66209958/90591132-e69a3f80-e1ff-11ea-8da3-d85c23247804.png)

# when I send to B22 it goes to MCB22, it is because the way the program works

[2020-08-19 04:33] aahnik commented on #57
# started thinking
![Screenshot from 2020-08-19 10-01-27](https://user-images.githubusercontent.com/66209958/90592386-1565e500-e203-11ea-9a3a-44f693b80883.png)

[2020-08-19 04:52] aahnik commented on #57
### the code structure here is vey diff., so it is very difficult to commit here

I have closed my past PRs in this repo and created my own version
( i hope thats legal, as your repo is open source)
_if i am able to solve i will commit in [my implementation](https://github.com/aahnik/wappdriver)_ which is similar to this one , but different in many aspects

[my version](https://github.com/aahnik/w

[2020-08-19 05:17] aahnik commented on #57
### hurray! i can prevent message being sent to wrong person by adding a SINGLE KEYWORD
[code]
# i just added the " if "
( IN MY [IMPLEMENTATION)](https://aahnik.github.io/wappdriver/)

https://aahnik.github.io/wappdriver/ or pip install wappdriver

FOR NOW:
my implementation will not send message to wrong recipient and warn you with Unable  message.

i am trying to bypass this problem and send me

[2020-08-19 05:23] VISWESWARAN1998 commented on #57
@aahnik I am so sorry for not merging your PR this project is used by many including my employers, I have to think of backward compatibility as well in mind. They have used the older API calls and changing the xpath and selectors then and now when the API breaks. I cannot convince everyone to change the API calls immediately. Your contribution towards this repo is much appreciated!

Thanks and Reg

[2020-08-19 05:34] aahnik commented on #57
I understand...

Every body has different needs ,

 THATS A BEAUTY OF OPEN SOURCE

# I learned a lot from your repo and have created my version serving my needs specifically....

Thanks a lot for such an wonderful project and **opensourcing** it.

**It is extremely valuable.**

There are chrome extentions which charge ₹3000 rs per year for the functionalities i require.

###  But with the help you

[2020-08-31 18:16] bhavya32 commented on #57
@aahnik @VISWESWARAN1998 I think if we make it more like API, like 127.0.0.1/send.py?to=aahnik&text=hello it could be integrated with business oriented software.

[2020-08-31 23:58] aahnik commented on #57
@bhavya32 you are talking about web api
It can be made with Django or flask

But to run on server, we have to eliminate the gui and use the skeleton of chrome

In that case,  it will be difficult to know whether it is working correctly or not

[2020-09-01 03:37] bhavya32 commented on #57
@aahnik See if you want to do this, I can tell you how. Chrome will not be started by selenium. It will be started by cmd with 2 arguments - headless and remote debugging. By headless, it will not show any UI and by remote debugging, you can see the gui for debugging purposes remotely. I know I couldn't explain remote debugging properly but you can google it out.
, Selenium will connect to it, do

[2020-09-01 04:41] aahnik commented on #57
@bhavya32
I had seen this thing earlier in a video but i forgot, how to do.

I will try to do it

Without gui it will be faster to run.

And i think in headless mode you can even run it from Pydroid in android and also host it in a server 24  x 7.

[2020-09-02 05:23] bhavya32 commented on #57
@aahnik I am myself owner of such code in c#. I can not provide the source code as it is being used for commercial purposes but I can help you out since the original I made was in python.

[2020-09-02 05:52] aahnik commented on #57
The problem with unofficial api is that they operate on the browser and they do not talk to WhatsApp server directly.

WhatsApp requires you to register and they charge money to send messages.

These unofficial api, which is very helpful to us, but are harmful to WhatsApp's business.

## What will happen if WhatsApp puts a captcha in WhatsApp web?

Is these kind of solutions reliable in long run?

[2020-09-02 05:58] aahnik commented on #57
I will be very glad to receive help.

[2020-09-02 10:52] aahnik commented on #57
**Finally, this issue #57 solved, solution of issue #48 enhanced**

Same solution for both of our repos ( @VISWESWARAN1998  and @aahnik  )

We have to replace this
[code]
with this

[code]
This will solve the old  issue #48 as well

[2020-09-02 12:55] #57 closed

[2020-09-02 12:57] aahnik commented on #57
I have thoroughly tested after making the changes.
This issue is solved and things are working as expected
All changes are made in https://github.com/aahnik/wappdriver

[2020-12-05 02:16] t0a5ted opened #58 "!!!UPDATE THE API!!!"
most of the xpaths, selectors and classes are outdated since whatsapp's website changes every few updates. PLEASE UPDATE!!

[2020-12-05 02:35] ashwvat commented on #58
Hey viswesh Tnx for ur update

On Sat, Dec 5, 2020, 7:47 AM t0a5ted <notifications@github.com> wrote:

[2020-12-05 07:29] VISWESWARAN1998 commented on #58
Thank you for using my API, I am working on the update. I have issued fixes for sending messages and pictures. I will look into other parts of the code soon.

Regards,
Visweswaran N

[2020-12-06 02:59] t0a5ted opened #60 "Add The Ability to interact with group chats where you have admin privileges."
For example, the bot can demote/promote/kick participants in a group chat

[2020-12-11 04:41] Zubayer204 opened #61 "Read messages"
Implement the method to read messages.

[2020-12-26 00:53] FZ1010 commented on #41
timeout problem

[2021-03-02 09:25] zooser22 opened #62 "Error Msg "selenium.common.exceptions.TimeoutException: Message:""
Hi ...

i can`t execute the script and it show error msg "selenium.common.exceptions.TimeoutException: Message:"

**My Simple script ( To send Message ) :**
`from whatsapp import WhatsApp
whatsapp = WhatsApp(100, session="mysession")
print(whatsapp.send_message("Same",":heart: Good!"))  `

**first cmd output :**
https://b.top4top.io/p_1887puw2p1.png

**its open whatsapp web page but after a while

[2021-04-10 05:09] liberticl commented on #62
Hello, I'm new using GitHub. I've faced the same issue these last days.
I found a solution in other repo using selenium with whatsapp web (can't find it now).

In the `whatsapp.py` file, on `send_message` definition (and others that can need to be solved) change
`search = self.browser.find_element(*WhatsAppElements.search)`
By
`search = self.browser.find_element_by_xpath('//*[@id="side"]/div[1]/di

[2021-04-11 05:28] VISWESWARAN1998 commented on #62
I have fixed the selectors. Please try now.

Thank you,
Visweswaran N

[2021-04-11 06:58] liberticl commented on #62
Working, thank you!

[2021-04-12 11:01] zooser22 commented on #62
@liberticl

Thanks man it`s worked but i think that there is more missed elements such as in :

**Send image error :**
`Message: no such element: Unable to locate element: {"method":"css selector","selector":".bDS3i > div:nth-child(1) > div:nth-child(1) > span:nth-child(1)"}
  (Session info: chrome=88.0.4324.182)
  (Driver info: chromedriver=2.41.578737 (49da6702b1de0f6c197e),platform=Windows NT 6

[2021-04-13 17:12] VISWESWARAN1998 commented on #62
Thank you @zooser22 , I will work on this fix!

Regards,
Visweswaran N

[2021-04-13 21:45] zooser22 commented on #62
**I appreciate your hard work for supporting this script**

I suggest to add function to Send Anonymous  picture using this code :
`# Send Anonymous Picture`
[code]

[2021-04-18 13:37] VISWESWARAN1998 commented on #62
That is great I am working on it!

Regards,
Visweswaran N

[2021-07-18 04:28] #58 closed

[2021-07-18 07:02] #60 closed

[2021-07-18 11:01] spfaul opened #68 "How to use Apache 2.0 Liscense"
I want to refactor some of the code in this repo and use it for a personal project. I'm confused on what the Apache License requires me to do to use the code. Could someone please explain it to me?

[2021-07-18 11:04] VISWESWARAN1998 commented on #68
It is great that you are planning to personalize my project. Apache is a flexible license for personal usage, Just give attribution to the original project when required.

Thank you,
Visweswaran N

[2021-07-18 11:34] t0a5ted commented on #68
So I just have to use the Apache 2.0 License in my own project?

Do I have to retain the following part?

`# SWAMI KARUPPASWAMI THUNNAI

# ============================================================
# Simple yet Hackable! WhatsApp API [UNOFFICIAL] for Python3
# Note: The author gives permission to use it under Apache 2.0
# Special Thanks To: alecxe, For reviewing my code!
# ======================

[2021-07-21 00:08] spfaul opened #69 "How to automatically update selectors and xpaths etc."
Every update to whatsapp web changes all of the selectors and xpaths of elements. Updating them in the code can be tedious, is there a possible workaround?

[2021-09-14 18:46] ustudio-ml opened #71 "Please upload to pip"
So we can install pip from command line on terminal to make it easy to use...

[2022-01-10 10:10] #68 closed, assigned to nobody

[2022-06-14 23:16] Chunorris6 opened #74 "https://web.whatsapp.com/"

[2022-07-05 02:39] Eikosa opened #75 "Get chat messages?"
Feature to get new chat messages with various types (text, picture, document...)

[2022-07-05 18:31] s1223 opened #76 "Failed to read descriptor from node connection: A device attached to the system is not functioning. (0x1F)"
Problem:
I want to send a message using the phone number and I used send_anon_message function but I got an error.

Error:
DevTools listening on ws://127.0.0.1:58386/devtools/browser/87426bed-43cb-4db8-a658-7e54be26a153
[11144:12812:0706/012329.621:ERROR:device_event_log_impl.cc(214)] [01:23:29.629] USB: usb_device_handle_win.cc:1048 Failed to read descriptor from node connection: A device attache

[2022-08-11 20:04] ftbarata opened #77 "How to register to whatsapp to begin using this api?"
Hi, how to register a number at whatsapp for using this api?

[2022-09-22 21:42] akakpoyannick1 opened #78 "Piraté WhatsApp"

[2022-10-05 17:09] yoseftea opened #79 "Tes"

[2022-10-21 17:43] scorninpc commented on #77
just run any example, the selenium will open a chromebox with qrcode to be scanned